@page
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model EverybodyModel
@{
    var serializerSettings = new JsonSerializerSettings { ContractResolver = new DefaultContractResolver { NamingStrategy = new CamelCaseNamingStrategy() }};
    ViewData["Title"] = "Everybody";
}

<h1 class="text-center" style="color:#5865F2;">Everybody</h1>
<div id="app" v-cloak class="text-center" style="margin:0 auto;">
    <br/>
    <div class="row">
        <div v-for="g in graphs" class="col-sm-10 col-md-10" style="background-color:#202225;margin:0;padding:2px;border:solid 6px #36393F;border-radius:4px;margin:0 auto;">
            <h5 class="text-center">{{ g.name }}</h5>
            <br/>
            <line-chart :data="g.graphs" :legend="false" :curve="true" xtitle="Date" ytitle="Ranks" :legend="true" height="500px"></line-chart>
        </div>
    </div>
</div>

<div id="graphs" data-obj="@JsonConvert.SerializeObject(Model.Graphs, serializerSettings)"></div>
<script src="https://unpkg.com/vue@2"></script>
<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/vue-chartkick@0.6.1"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            graphs: JSON.parse(document.getElementById('graphs').dataset.obj)
        },
        filters: {
            capitalising: function (data) {
                return data.charAt(0).toUpperCase() + data.slice(1)
            }
        }
    })
    app.use(VueChartkick)
    app.mount("#app")
</script>